# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [0]:
car1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
car2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [7]:
car1 = car1.loc[:,'mpg':'car']
car1.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

### Step 5. What is the number of observations in each dataset?

In [22]:
print('car1:',car1.shape[0],'car2:',car2.shape[0])

('car1:', 198, 'car2:', 200)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [28]:
cars = car1.append(car2)
cars.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [40]:
temp = np.random.randint(15000, high=73000, size= 398)
type(temp)

numpy.ndarray

### Step 8. Add the column owners to cars

In [41]:
cars['owner'] = temp
car.head()

    mpg  cylinders  displacement  ... origin                        car  owner
0  18.0          8           307  ...      1  chevrolet chevelle malibu  45738
1  15.0          8           350  ...      1          buick skylark 320  67859
2  18.0          8           318  ...      1         plymouth satellite  32040
3  16.0          8           304  ...      1              amc rebel sst  16860
4  17.0          8           302  ...      1                ford torino  61654

[5 rows x 10 columns]