# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [0]:
crime = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')

### Step 4. What is the type of the columns?

In [37]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null int64
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: int64(12)
memory usage: 5.2 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [38]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null datetime64[ns]
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 5.2 KB

### Step 6. Set the Year column as the index of the dataframe

In [39]:
crime.set_index('Year', inplace=True)
crime.head()

            Population    Total  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175  3384200  ...        1855400         328200
1961-01-01   182992000  3488000  ...        1913000         336000
1962-01-01   185771000  3752200  ...        2089600         366800
1963-01-01   188483000  4109500  ...        2297800         408300
1964-01-01   191141000  4564600  ...        2514400         472800

[5 rows x 11 columns]

### Step 7. Delete the Total column

In [40]:
# del crime['Total']
crime.head(11)

            Population    Total  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175  3384200  ...        1855400         328200
1961-01-01   182992000  3488000  ...        1913000         336000
1962-01-01   185771000  3752200  ...        2089600         366800
1963-01-01   188483000  4109500  ...        2297800         408300
1964-01-01   191141000  4564600  ...        2514400         472800
1965-01-01   193526000  4739400  ...        2572600         496900
1966-01-01   195576000  5223500  ...        2822000         561200
1967-01-01   197457000  5903400  ...        3111600         659800
1968-01-01   199399000  6720200  ...        3482700         783600
1969-01-01   201385000  7410900  ...        3888600         878500
1970-01-01   203235298  8098000  ...        4225800         928400

[11 rows x 11 columns]

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [41]:

crimes = crime.resample('10AS').sum()
pop = crimes['Population'].resample('10AS').max()
crimes['Population'] = pop
crimes.head()

            Population      Total  ...  Larceny_Theft  Vehicle_Theft
Year                               ...
1960-01-01  1915053175   49295900  ...       26547700        5292100
1970-01-01  2121193298  100991600  ...       53157800        9739900
1980-01-01  2371370069  131123369  ...       72040253       11935411
1990-01-01  2612825258  136582146  ...       77679366       14624418
2000-01-01  2947969117  115012044  ...       67970291       11412834

[5 rows x 11 columns]

### Step 9. What is the most dangerous decade to live in the US?

In [43]:
crimes.idxmax(0)

Population           2000-01-01
Total                1990-01-01
Violent              1990-01-01
Property             1990-01-01
Murder               1990-01-01
Forcible_Rape        1990-01-01
Robbery              1990-01-01
Aggravated_assault   1990-01-01
Burglary             1980-01-01
Larceny_Theft        1990-01-01
Vehicle_Theft        1990-01-01
dtype: datetime64[ns]