# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [33]:
df = pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')
df.head()

         Date  Total Equity  ...  Municipal Bond  Total
0  2012-12-05         -7426  ...            1107  -2183
1  2012-12-12         -8783  ...             219  -6842
2  2012-12-19         -5496  ...           -3369  -5466
3  2012-12-26         -4451  ...            -722  -1291
4  2013-01-02        -11156  ...             280  -8931

[5 rows x 9 columns]

### Step 4.  What is the frequency of the dataset?

In [34]:
print('Weekly')

Weekly

### Step 5. Set the column Date as the index.

In [35]:
df.info()
df.set_index('Date', inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 9 columns):
Date               44 non-null object
Total Equity       44 non-null int64
Domestic Equity    44 non-null int64
World Equity       44 non-null int64
Hybrid             44 non-null int64
Total Bond         44 non-null int64
Taxable Bond       44 non-null int64
Municipal Bond     44 non-null int64
Total              44 non-null int64
dtypes: int64(8), object(1)
memory usage: 3.2+ KB

### Step 6. What is the type of the index?

In [36]:
df.index

Index([u'2012-12-05', u'2012-12-12', u'2012-12-19', u'2012-12-26',
       u'2013-01-02', u'2013-01-09', u'2014-04-02', u'2014-04-09',
       u'2014-04-16', u'2014-04-23', u'2014-04-30', u'2014-05-07',
       u'2014-05-14', u'2014-05-21', u'2014-05-28', u'2014-06-04',
       u'2014-06-11', u'2014-06-18', u'2014-06-25', u'2014-07-02',
       u'2014-07-09', u'2014-07-30', u'2014-08-06', u'2014-08-13',
       u'2014-08-20', u'2014-08-27', u'2014-09-03', u'2014-09-10',
       u'2014-11-05', u'2014-11-12', u'2014-11-19', u'2014-11-25',
       u'2015-01-07', u'2015-01-14', u'2015-01-21', u'2015-01-28',
       u'2015-02-04', u'2015-02-11', u'2015-03-04', u'2015-03-11',
       u'2015-03-18', u'2015-03-25', u'2015-04-01', u'2015-04-08'],
      dtype='object', name=u'Date')

### Step 7. Set the index to a DatetimeIndex type

In [37]:
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26',
               '2013-01-02', '2013-01-09', '2014-04-02', '2014-04-09',
               '2014-04-16', '2014-04-23', '2014-04-30', '2014-05-07',
               '2014-05-14', '2014-05-21', '2014-05-28', '2014-06-04',
               '2014-06-11', '2014-06-18', '2014-06-25', '2014-07-02',
               '2014-07-09', '2014-07-30', '2014-08-06', '2014-08-13',
               '2014-08-20', '2014-08-27', '2014-09-03', '2014-09-10',
               '2014-11-05', '2014-11-12', '2014-11-19', '2014-11-25',
               '2015-01-07', '2015-01-14', '2015-01-21', '2015-01-28',
               '2015-02-04', '2015-02-11', '2015-03-04', '2015-03-11',
               '2015-03-18', '2015-03-25', '2015-04-01', '2015-04-08'],
              dtype='datetime64[ns]', name=u'Date', freq=None)

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [0]:
m = df.resample('M').sum()

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [45]:
m=m[m['Total']!=0]
m

            Total Equity  Domestic Equity  ...  Municipal Bond  Total
Date                                       ...
2012-12-31        -26156           -23126  ...           -2765 -15782
2013-01-31          3661            -1627  ...            2735  18540
2014-04-30         10842             1048  ...            1300  24267
2014-05-31         -2203            -8720  ...            3576  14736
2014-06-30          2319            -6546  ...            2163  16621
2014-07-31         -7051           -11128  ...             481   3122
2014-08-31          1943            -5508  ...            2910   5723
2014-09-30         -2767            -6596  ...            1504   2816
2014-11-30         -2753            -7239  ...            2962  12502
2015-01-31          3471            -1164  ...            4606  12569
2015-02-28          5508             3509  ...            1656  16359
2015-03-31          5691            -8176  ...            1870  17657
2015-04-30           379            -4628  ...             -91   1772

[13 rows x 8 columns]

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [52]:
y = m.resample('AS-JAN').sum()
y

            Total Equity  Domestic Equity  ...  Municipal Bond  Total
Date                                       ...
2012-01-01        -26156           -23126  ...           -2765 -15782
2013-01-01          3661            -1627  ...            2735  18540
2014-01-01           330           -44689  ...           14896  79787
2015-01-01         15049           -10459  ...            8041  48357

[4 rows x 8 columns]

### BONUS: Create your own question and answer it.