# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [0]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called

In [11]:
df = pd.DataFrame(raw_data,columns=['evolution', 'hp', 'name', 'pokedex', 'type'])
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [12]:
df = df[['name', 'type', 'hp', 'evolution', 'pokedex']]
df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [16]:
df['add'] = ['a', 'b', 'c', 'e']
df.head()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

         name   type  hp   evolution pokedex add
0   Bulbasaur  grass  45     Ivysaur     yes   a
1  Charmander   fire  39  Charmeleon      no   b
2    Squirtle  water  44   Wartortle     yes   c
3    Caterpie    bug  45     Metapod      no   e

### Step 6. Present the type of each column

In [22]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
add          object
dtype: object

### BONUS: Create your own question and answer it.